.wrapper {
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 0.9em;
    padding: 24px;
    width: 100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    overflow-y: visible !important;
    overflow-x: hidden;
}



.title {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--text-main);
    margin: 0;
    letter-spacing: -0.5px;
}

.subtitle {
    font-size: 0.875rem;
    color: var(--text-muted);
    margin: 7px;
}

.content {
    width: 100%;
    flex-direction: column;
    height: auto !important;
    min-height: 0;
}


@media (max-width: 600px) {
    .wrapper {
        width: 100% !important;
    }

    .content {
        align-items: stretch !important;

    }
}