.legend {
    padding: 12px;
    border-radius: 6px;
    background: var(--control-bg);
    width: fit-content;
    font-size: 12px;
}

.title {
    margin-bottom: 6px;
    font-weight: 600;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.marker {
    width: 12px;
    height: 12px;
    border-radius: 4px;
}

@media (max-width: 600px) {

    .legend {
        width: 100% !important;
        display: grid !important;
        gap: 8px;
        box-sizing: border-box;
    }


    .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
    }
}