.legend {
    bottom: 10px;
    left: 10px;
    z-index: 10;
    background: var(--control-bg);
    padding: 12px;
    margin-top: 10px;
    border-radius: 6px;
    pointer-events: auto;
    width: fit-content;
}

.title {
    margin-bottom: 6px;
    font-weight: 600;
    color: var(--text-main);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.marker {
    width: 12px;
    height: 12px;
    border-radius: 4px;
    flex-shrink: 0;

}


@media (max-width: 600px) {
    .legend {
        width: 100% !important;
        box-sizing: border-box;

    }

    .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
    }
}